.wrapper {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto minmax(100px, auto);
}
header {
    grid-column: 1/-1;
}
.side-nav {
    overflow-x: hidden;
    transition-property: width;
    transition-duration: .5s;
}
main {
    grid-column: 1/-1;

}
article {
    grid-column: -4/-1;
}
footer {
    grid-column: 1/-1;
}

@media screen and (max-width: 76px) {
    main {
        grid-column: 1/-1;
    
    }
    article {
        grid-column: 1/-1;
    }
}